---
import Navigation from './Compotents/Navigation.astro';
import Header from './Compotents/Header.astro';
import Footer from './Compotents/Footer.astro';
import BaseLayout from './layouts/BaseLayout.astro';
import './styles/global.css';

const pageTitle = "home";
---

	<BaseLayout pageTitle={pageTitle}>
		<h2>My awesome blog subtitle</h2>
	</BaseLayout>